# ───────────────────────────────────────────────
# Python / Virtual Env / IDE
# ───────────────────────────────────────────────
.venv/
.idea/

# ───────────────────────────────────────────────
# Model Artifacts & Sensitive IP
# ───────────────────────────────────────────────
artifacts/*.pkl
artifacts/*.npy

# ───────────────────────────────────────────────
# Processed Data
# ───────────────────────────────────────────────
data/heartdisease_cleaned.csv
data/heartdisease_processed.csv

# ───────────────────────────────────────────────
# Logs & Test
# ───────────────────────────────────────────────
outputs/*.log
test/

# ───────────────────────────────────────────────
# Jupyter Checkpoints
# ───────────────────────────────────────────────
**/.ipynb_checkpoints/
